@media screen and (max-width: 1200px)
{
    #menu {
        width: 60%;
    }

    .menu__item {
        font-size: 25px;
    }

    #maeva-letz , #maeva-letz-haut {
        width: 60%;
    }
}

@media screen and (max-width: 425px)
{

    .menu__btn {
        display: flex;
        align-items: center;
    }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu__toggle:checked ~ #menu {
        visibility: visible;
        left: 0;
    }

    #menu {
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        transition-duration: .25s;
    }

    #maeva-letz {
        width: 100%;
    }

    #maeva-letz-haut {
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 320px)
{
    h1 {
        font-size: 35px;
    }  
    
    h2 {
        font-size: 30px;
    }  
}

@media screen and (max-width: 2560px) 
{
    p {
        font-size: 25px;
    }

    img {
        width: 1000px;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 25px;
    }

    input[id^="spoiler"] + label {
        font-size: 35px;
    }
}

@media screen and (max-width: 1440px) 
{
    p {
        font-size: 17px;
    }

    img {
        width: 550px;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 18px;
    }

    input[id^="spoiler"] + label {
        font-size: 18px;
    }

    iframe {
        width: 500px;
    }
}
    



@media screen and (max-width: 1920px) 
{
    p {
        font-size: 18px;
    }

    img {
        width: 500px;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 22px;
    }

    input[id^="spoiler"] + label {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) 
{

    img {
        width: 390px;
    }

    input[id^="spoiler"] + label {
        width: 80%;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 16px;
    }

    .gm-style .place-card-large {
        padding: 9px 73px 9px 11px;
        margin-left: 150px;
    }

    .hamburger-menu {
        width: 60%;
        height: 100%;
        position: absolute;
    }

}

@media screen and (max-width: 375px) 
{

    img {
        width: 345px;
    }

    input[id^="spoiler"] + label {
        width: 80%;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 16px;
    }

    .gm-style .place-card-large {
        padding: 9px 73px 9px 11px;
        margin-left: 150px;
    }

    .menu__btn {
        left: 10px;
        top: 10px;
    
    }
    iframe {
        width: 390px;
    }
}

@media screen and (max-width: 320px) 
{

    body {
        overflow:scroll;
    }

    img {
        width: 290px;
    }

    .gm-style .place-card-large {
        margin-left: 150px;
        padding: 9px 73px 9px 11px;
    }

    input[id^="spoiler"] + label {
        width: 80%;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 16px;
    }

    .menu__btn {
        left: 10px;
        top: 10px;
    
    }
    iframe {
        width: 330px;
    }
}

@media screen and (max-width: 425px)
{
    .menu__btn {
        left: 10px;
        top: 10px;
    
    }

    input[id^="spoiler"] + label {
        width: 80%;
    }

    input[id^="spoiler"]:checked + label + .spoiler {
        font-size: 16px;
    }
    .gm-style .place-card-large {
        margin-left: 150px;
        padding: 9px 73px 9px 11px;
    }

    iframe {
        width: 400px;
    }
}

@media screen and (max-width: 1199px) 
{
    #menu {
        width: 60%;
    }

    .menu__item {
        font-size: 25px;
    }

    #maeva-letz , #maeva-letz-haut {
        width: 60%;
    }
}


